.container-404 {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/0e/c0/db/0ec0dbf1e9a008acb9955d3246970e15.gif);
  height: 400px;
  width: 600px;
  margin: 5px auto;
  background-position: center;
}
